/*Personalizamos estilos que son necesarios en el tema*/

/*
**************************************************************************
Estilos Generales
**************************************************************************
*/
/*Fondo del  navbar */

.navbar-white {
	background-color: #f8f9fa;
}

/*Fondo del Body*/
.content-wrapper {
    background: #fff;
}

.text-center
{
	text-align: center;
}

/*-> Damos estilos al paginador*/

.link 
{
	padding-bottom: 30px;
	display: inline-block;
}

/*-> Estilos para las fichas de Registro*/
.form-group,
.form-registro {width: 100%;}

.border-right {border-right:1px solid #eaeaea;}
.border-bottom { border-bottom: 1px solid #eaeaea;}
.border-left { border-left: 1px solid #eaeaea;}
.border-top{ border-top: 1px solid #eaeaea;}

.border-style
{
	border: 1px solid #eaeaea;
	border-radius: 2px;
	padding: 5px;
}
.text-input 
{
	margin-bottom: 15px;
}
.form-select,
.form-control 
{
	/*width: 97%; */
	font-size: 12px;
}
.form-group
{
	padding-left: 10px;
}
.bck-ground 
{
	background-color: #eaeaea;
}

.oculto 
{
	display: none;
}

/*Estilos para el campo buscador*/
.bootstrap-tagsinput 
{
	width:60%;
	display: grid;
}

/*Clases para los tipos de lotes en la vista asignar series*/
.form-select,
.check-tipo 
{
	width: 97%;
	margin-bottom: 15px;
}
.text-area
{
/*	width:98%;
	margin-bottom: 15px;*/
}

.form-check-input-paju {	
	margin-top: 0.7rem;
}
.aling-boton
{
	float: right;
	font-size: 13px;
	margin: 0px 4px 0px 4px;
	text-align: right;
}

.col-descrip
{
	width: 65%;
}
/*
**************************************************************************
Estilos para el paginador
**************************************************************************
*/
.row-list 
{
	padding: 12px 0px 12px 0px;
	margin-left: 0px;
	margin-right:0px;
}
.pagination
{
	margin-bottom: 10px;
}

.card-body > .table {
	margin-bottom: 10px;
	font-size: 12px;
}

/*
**************************************************************************
Estilos Para los cards 
**************************************************************************
*/

.card-body
{
	font-size: 12px;
}
/*
**************************************************************************
Estilos Para la ficha de Especie 
**************************************************************************
*/
.card-especie 
{
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 1px 0px rgba(17, 17, 17, 0.75);
	font-size: 12px; 
	padding: 0px 8px 0px 8px;
}
.card-especie-grid 
{
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 1px 0px rgba(17, 17, 17, 0.75);
	font-size: 12px; 
	padding: 0px 8px 0px 8px;
}
.table-especie 
{
	margin: 5px 0px 0px 0px;
}

/*
*************************************************************************
Estilos para el arbo de ascendencia
*************************************************************************
*/
.nodo
{
	height: 25px;
	margin-top: 10px
	margin-bottom:10px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}

.div-vacio
{
	height: 15px;
	margin-top: 10px
	margin-bottom:10px;
}
.enlace 
{
	font-weight: 700;
}


/*
**************************************************************************
Estilos Para la ficha de Ganado
**************************************************************************
*/
.title-header {
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0px 10px 0px;
}

.title-label 
{
	font-size: 15px;
	font-weight: 700;
}
.card-ficha-ganado {
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 1px 0px rgba(17, 17, 17, 0.75);
	font-size: 14px;
}
.card-parametros-peso {
	margin-right: 8px;
	border-radius: 2px;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 3px 0px rgba(17, 17, 17, 0.75);
	font-size: 14px;
}
.card-parametros-tipo {
	margin-left: 8px;
	border-radius: 2px;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 3px 0px rgba(17, 17, 17, 0.75);
	font-size: 15px;
	font-weight: 500;
	padding: 0px 0px 10px 10px; 
}
.card-ascendencia
{
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 1px 0px rgba(17, 17, 17, 0.75);
	font-size: 14px;	
}

.search-table 
{

	text-align: -moz-right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 20px;
}
/*
**************************************************************************
Estilos Para la tabla de finca. 
**************************************************************************
*/
.column-space
{
	padding: 5px;
}
.table-fincas 
{
	font-size: 12px;
}

/*
**************************************************************************
Estilos Para la ficha de Tipologia 
**************************************************************************
*/
.title-table{
	font-size: 13px; 
	font-weight: 700;

}
.text-body-table
{
	font-size: 12px; 
}

.table-tipologia 
{
	font-size: 12px;
	margin-top: 10px;	
} 
.parameter-input
{
	text-align: left; 
}
.col-parm
{
	width: 18%;
}

.title-tipo
{
	font-size: 12px;
	font-weight: 700;
	margin: 5px 0px 5px 0px;

}
/*
**************************************************************************
Estilos Para las tablas
**************************************************************************
*/
.col-funcion{width: 32%;}

.card-title
{
	padding: 8px 0px 8px 0px;
	margin-left: 8px; 
} 

/*
**************************************************************************
Estilos Para la tabla de reporte transferencia. 
**************************************************************************
*/

.title-filed
{
	font-weight: 700;
	font-size: 11.5px;
}
.width-field 
{
	width: 100%; 
}

.btn-ver
{
	margin-top: 30px;
	margin-right: 5px;	
}

/*
*************************************************************************
Estilos para las celdas del Progreso de la Temporada
*
*/

.celda
{
	font-weight: 900;
	text-align: center;
}
.color-celo{color: #f2571a !important;}
.color-palpaciones{color: #fd7e14 !important;}
.color-servicios{color: #17a2b8 !important;}
.color-prenhez{color: #007bff !important;}
.color-parto{color: #28a745 !important;}
.color-aborto{color: #dc3545 !important;}


/*
***************************************************************************
Esilos para el btón action de la tabla de lote de monta.
*
*/
.dropdown-menu 
{
	left:-100px;
}

.text-pre {color:#63b8b8;}
.text-ser {color:#bd8a8a;}
.text-par {color:#af9cd6;}
.text-abo {color:#e36c5f;}
.tex-pnc {color: #99a3a4;}

.bg-pre
{
	background-color: #97d6d6;
}
.bg-ser
{
	background-color: #d7c3c3;
}
.bg-par
{
	background-color: #d2cae2;
}

.bg-abo
{
	background-color: #ecada6;
}
.bg-pnc
{
	background-color: #aab7b8;
}

.title-label
{
	font-size: 14px; 
}

.navbar-nav  .user-menu .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	width: 214px !important;
}